<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thangnc.librarymanagerv3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_intro"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.HomeActivity" />
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_category"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.HomeActivity" />
        </activity>
        <activity
            android:name=".BookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_book"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.HomeActivity" />
        </activity>
        <activity
            android:name=".DinvoiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_dinvoice"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.HomeActivity" />
        </activity>
        <activity
            android:name=".UserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_user"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.HomeActivity" />
        </activity>
        <activity
            android:name=".InvoiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_invoice"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.HomeActivity" />
        </activity>
        <activity
            android:name=".AddUserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_user"
            android:parentActivityName=".UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.UserActivity" />
        </activity>
        <activity
            android:name=".AddCateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_cate"
            android:parentActivityName=".CategoryActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.CategoryActivity" />
        </activity>
        <activity
            android:name=".AddBookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_book"
            android:parentActivityName=".BookActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.BookActivity" />
        </activity>
        <activity
            android:name=".AddInvoiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_invoice"
            android:parentActivityName=".InvoiceActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thangnc.librarymanagerv3.InvoiceActivity" />
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>